[submodule "uniswap/lib/forge-std"]
	path = uniswap/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "uniswap/lib/periphery-next"]
	path = uniswap/lib/periphery-next
	url = https://github.com/Uniswap/periphery-next
